{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}
{% block content %}
<h1>My Account</h1>
<div class="infobox">
    <center>
        <h2>Account Information</h2>
        <br>
        <h3>Full Name: {{ AccountInfomation.FullName}}</h3><br>
        <h3>Email: {{ AccountInfomation.Email }}</h3><br>
        <h3>Account Type: {{ AccountInfomation.Type }} </h3><br>
        <h3>Date of Birth: {{ AccountInfomation.DateofBirth }}</h3><br>
        <h3>Address: {{ AccountInfomation.Address }}</h3><br>
        <h3>Postcode: {{ AccountInfomation.Postcode }}</h3><br>
        <h6><a href="">Change Account Details</a></h6>
    </center>
</div><br><br><br>
<h2>Upcoming Bookings</h2>
{% for times, booking in BookingsInformation.items() %}
<div class="bookingbox">
    <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <h4>Date:</h4>
            <h6>{{ booking.Date }}</h6>
          </div>
          <div class="col">
            <h4>Time:</h4>
            <h6>{{ booking.Time }}</h6>
          </div>
          <div class="col">
            <h4>Type:</h4>
            <h6>{{ booking.Type }}</h6>
          </div>
        </div>
    </div>
    <center>
    <a href="">Change Booking Information</a></center>
</div>
<br><br>
{% endfor %}
<h2>Reports to check</h2>
<div class="bookingbox">
    <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <h4>Staff:</h4>
            <h6>blank</h6>
          </div>
          <div class="col">
            <h4>Date:</h4>
            <h6>blank</h6>
          </div>
          <div class="col">
            <button id="YellowButton"><strong>View Report</strong></button>
          </div>
        </div>
    </div>
</div>
<br><br>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <button id="BlueButton"><h5>Carbon Footprint</h5></button>
        </div>
        <div class="col">
            <button id="YellowButton"><h5>Energy Usage</h5></button>
        </div>
    </div>
</div>
<br>
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <button id="YellowButton" onclick="window.location.href='{{ url_for('consultation')}}'"><h5>Booking System</h5></button>
        </div>
        <div class="col">
            <button id="BlueButton" onclick="window.location.href='/logout'"><h5>Logout</h5></button>
        </div>
    </div>
</div>
<br>
{% endblock%}