{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/energy.css') }}">
{% endblock %}
{% block title %}Carbon Footprint{% endblock %}
{% block content %}
<h1>Carbon Footprint</h1>
<br>
<p>Carbon emissions refer to the release of carbon dioxide and other greenhouse gases into the atmosphere, primarily from human activities like burning fossil fuels. Families contribute through energy use, transportation, and waste, while businesses add emissions from manufacturing, operations, and supply chains. Reducing these footprints is crucial to mitigate climate change and promote sustainability.</p>
<br>
<h2>The Emissions Calculator</h2>
<br>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <div class="box">
                {% if Emission %}
                    <h3>Average Emissions</h3>
                    <h4>For Miles driven:</h4>
                    <h5>{{Car}} Kg CO2</h5>
                    <br>
                    <h4>For Energy consumption:</h4>
                    <h5>{{Electrity}} Kg CO2</h5>
                    <br>
                    <h4>Total consumption:</h4>
                    <h5>{{ Emission }} Kg CO2</h5>
                {% else %}
                    <form method="POST">
                        <label for="miles">Average Number of Miles Driven in a Month:</label>
                        <br>
                        <input type="number" name="miles" required>
                        <br><br>
                        <label for="energy">Average Energy Comsumption (kWhs) in a month:</label>
                        <br>
                        <input type="number" name="energy" required>
                        <br><br><br>
                        <button id="YellowButton" type="submit">Submit for Results</button>
                    </form>   
                {% endif %}
            </div>
      </div>
    </div>
</div>
<br><br>
{% endblock %}