{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change.css') }}">
{% endblock %}
{% block content %}
<h1>Change Account Details</h1>
<br><br>
<center>
<form action="{{ url_for('ChangeAccountInfo')}}" method="POST">
    <input type="hidden" name="type" value="{{ AccountInformation.Type }}">
        <h4 style="text-decoration: underline;">Enter Your Address</h4>
        <br>
        <input type="text" name="address" id="address" placeholder="Current: {{ AccountInformation.Address }}" required>
         
        
        <br><br>
        
        <h4 style="text-decoration: underline;">Enter Your Postcode</h4>
        <br>
                <input type="text" name="postcode" id="postcode" pattern="^([A-Z]{1,2}[0-9][A-Z0-9]? ?[0-9][A-Z]{2}|GIR ?0AA)$" placeholder="Current: {{ AccountInformation.Postcode }}" required>

        <br><br>

        {% if AccountInformation.Type == "Business" %}
            <h4 style="text-decoration: underline;">Enter the Business' Phone Number</h4>
            <br>

                    <input type="tel" name="phone" id="phone" placeholder="Current: {{ AccountInformation.PhoneNumber }}" required>

            <br><br>
        {% elif AccountInformation.Type == "Personal"%}
            <h4 style="text-decoration: underline;">Enter Your Date Of Birth</h4>
            <br>
            <h6>Current: {{ AccountInformation.DateofBirth }}</h6>
            <input type="date" name="date" id="date" required>
            <br><br>
        {% endif %}
    </div>
    <button type="submit" id="BlueButton">Change</button>
</form>
</center>
<br><br>
{% endblock %}