{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<style>
    body{
        background-image:  url("{{ url_for('static', filename='images/Register.webp')}}");
    }
</style><!-- The rest of the css for the class is in the css file-->
{% endblock %}

{% block content %}
    <div class="loginbox">
        <center>
        <h1>Register</h1>   
        
        <form action="/AddAccount" method="POST">
            <label for="email">Enter Your Full Name</label>
            <br>
            <input type="text" name="name" id="name" placeholder="e.g. Joseph Bloggs" required>
            <br><br>
            <label for="email">Enter Your Email Address</label>
            <br>
            <input type="email" name="email" id="email" placeholder="e.g. joe.bloggs@email.com" required>
            <br><br>
            <label for="password">Enter Your Password</label>
            <br>
            <input type="password" name="password" id="password" minlength="8" required>
            <br><br>
            <label for="password">Re-enter Your Password</label>
            <br>
            <input type="password" name="retype" id="password" required>
            <br><br>
            <label for="business">Are you a business?</label>
            <br>
            <input type="checkbox" id="business" name="business" value="YEs">
            <label for="business">Yes</label><br>
            <input type="checkbox" id="business" name="business" value="No">
            <label for="business">No</label><br>
            <br><br>
            <button type="submit" value="Register" id="BlueButton">Register</button>
            <br><br>
            {% if message %}
                <br><br>
                <h5 style="color: red;">{{ message }}</h5>
            {% endif %}
            <h5 style="text-align: center;">Already have an account? <a href="{{ url_for('login')}}">Login then</a></h5>
        </form>
    </center>
    </div>
</div>

    <script>
        var password = document.getElementById("password");
        password.addEventListener("input", () => {
          if (password.validity.tooLong || password.validity.tooShort) {
            password.setCustomValidity("The password must be have a minimum of 8 characters.");
            password.reportValidity();
          } else { password.setCustomValidity(""); }
        });
    </script>
{% endblock %}