{% extends "base.html" %}
{% block title%}Terms & Conditions{%endblock%}
{% block content %}
<h1>Terms & Conditions</h1>
<br><br>
<p>Rolsa Technologies and its affiliates attempt to keep the material on our website accurate and current. However, we cannot ensure the content's dependability or total accuracy despite our efforts. It's advised that visitors use the information at their own risk and verify its accuracy through independent research. </p>
<br><br><br>
<h2>Copyrights and neighbouring rights</h2>
<p>The content presented on this site is protected by copyright unless explicitly noted otherwise. Any reproduction or distribution of the copyrighted material without proper authorisation is prohibited, whether for research, personal study, or internal organisational use.</p>
<br><br><br>
<h2>Gaining Premission</h2>
<p>If an organisation or individual so desires to gain permission to use any part of the website for their use. Don't hesitate to get in touch with us.</p>
<br><br><br>
{% endblock %}