{% extends "base.html" %}
{% block title%}View Saved Energy{%endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/energy.css') }}">
{% endblock %}
{% block content %}
<h1>View Saved Energy</h1>
<br>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <div class="box">
                <h2>General Infomation</h2>
                <br>
                <h4>Date Of Save: {{ EnergyInfo[3] }}</h4>
                <br>
                <h4>Total Energy Usage: {{ EnergyInfo[1] }} kWh</h4>
            </div>
            <br><br>
            <div class="box">
                <h2>Indivdual Item Infomation</h2>
                <br>
                <center>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Time (Hours)</th>
                        <th>Energy Consumption Of Item (kWh)</th>
                        <th>Total Consumption</th>
                    </tr>
                    {% for item in EnergyItems %}
                    <tr>
                        <td>{{ item['Name'] }}</td>
                        <td>{{ item['Time'] }}</td>
                        <td>{{ item['kWh'] }}</td>
                        <td>{{ item['Total'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </center>
            </div>
        </div>
    </div>
</div>
<br>
<center>
    <button id="BlueButton" onclick="history.back()">Back to previous page</button>
</center>
<br><br>
{% endblock %}