{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}
{% block content %}
    <h1>Write Report</h1>
    <div class="infobox">
        <center>
            <h2>Consulatation Information</h2>
            <br>
            <h3>Client Name: </h3>
            <br>
            <h3>Client Address:  </h3>
            <br>
            <h3>Consultation Date & Time:  </h3>
        </center>
    </div>
    <br><br><br>
    
    <div class="infobox">
        <h2>Report</h2>
        <center>
            {% set ReportID = 2 %}
            <form action="/SaveReport{{ ReportID }}" method="POST">
                <label for="type">Enter the next stage?</label>
                <br>
                <input type="radio" name="type" value="Installation"> <label for="type">Installation</label>
                <br>
                <input type="radio" name="type" value="Maintenance"> <label for="type">Maintenance</label>
                <br>

                <label for="description">Enter what will need to </label>
                <br>
                <textarea name="description" rows="10" cols="100" placeholder="Write in here"></textarea>
                <br>
                <label for="estimatedhours">Enter the number of estimated hours that the work will take</label>
                <br>
                <input type="number" name="estimatedhours" placeholder="e.g. 12" min="1" max="75" id="">
                <br><br>
                <h5>Please enter the number of each item you suggest for the work</h5>
                {% for counter, product in Products.items() %}
                    <label for="{{product.ProductID}}">Number of {{ product.Name}}:</label><br>
                    <input type="number" name="{{product.ProductID}}" id="" min="0" placeholder="0" default="0">
                    <br><br>
                {% endfor %}

                <button type="submit" id="BlueButton">Submit</button>
                <br>


            </form>
        </center>
    </div>
    <br>
{% endblock %}